:root {
    --bg-color: hsl(0, 0%, 100%);
    --accent-color: hsl(37, 60%, 53%);
    --subtitle-color: hsl(0,0%,29%);
    --text-color: hsl(0, 0%, 29%);
    --text-light-color: hsl(0, 0%, 59%);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color, hsl(0, 0%, 100%));
    color: var(--text-color, #4a4a4a);
}
ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
    color: var(--text-light-color);
}

nav ul {
    list-style: none;
}

h1 {
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    color: var(--accent-color, #cf983f);
    text-align: center;
}

h2 {
    font-size: 30px;
    color: var(--subtitle-color,#4a4a4a);
    font-family: Helvetica, sans-serif;
}

h3 {
    color: var(--subtitle-color);
}

p {
    color: var(--text-color);
}

a {
    color: var(--accent-color)
}


button {
    height: 25px;
    width: 85px;
    background-color: var(--bg-color);
    color: var(--accent-color);
    border:1px solid  var(--accent-color);
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1);
}

button:hover {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.top-img {
    width: 200px;
    height: auto;
    border-radius: 15px;
}

.mini-img {
    width: 120px;
    border-radius: 50%;
    border: solid 2px;
}

.mini-img:hover {
    filter: sepia(0.8) contrast(1.2) saturate(2);
    background-color: #cf983f;
}